<!--The content below is only a placeholder and can be replaced.-->

<div id="myApp" #myApp>
  <div *ngIf="haveLinks">
    <div *ngIf="shouldShowVideo; then thenBlock; else elseBlock">
    </div>
    <ng-template #thenBlock>
      <div id="videoContainer">
        <video 
        autoplay
        src="{{this.fileLinks.video}}" 
        controls
        #myVideo
        id="myVideo"
        >
        </video>
        <button 
          id="myButton"
          (click)="skipVideo($event)"
        >
          SKIP THIS RIDICULOUS VIDEO
      </button>
      </div>
      {{ this.setVideo(myVideo) }}
      {{ this.onVideoEnd(myVideo) }}
    </ng-template>

    <ng-template #elseBlock>
        {{  this.setBackgroundImage(myApp, this.fileLinks.img) }}
        <audio 
        src="{{this.fileLinks.sound}}"
        #mySound
      >
      </audio>
        <div id="imageContainer" #imageContainer>
            Want to know what an iguana sounds like? Click here.
         
            <div 
              id="soundIconContainer"
              #soundIconContainer
              (click)="this.playSoundOnClick(mySound)"
            >
            {{ this.setSoundIcon(soundIconContainer) }}
            </div>
        </div>
        {{ this.setContainersToProps(imageContainer, soundIconContainer) }}
      </ng-template>
      <div *ngIf="this.shouldShowDogs">
        {{ this.showDogs(myApp, this.imageContainer, this.soundIconContainer) }}
      </div>
  </div>
</div>



